[submodule "lc0"]
	path = lc0
	url = https://github.com/kennyfrc/lc0
[submodule "zlib"]
	path = zlib
	url = https://github.com/kennyfrc/zlib
[submodule "polyglot"]
	path = polyglot
	url = https://github.com/kennyfrc/polyglot
